body {
    background-color:  #ecf0f1;
}

.header {
    color: red;
    border: 10px solid #00bfff;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 4px grey;
    background-color:  #ecf0f1;

}

h1  { 
    font-family: 'Indie Flower', cursive;
}

.container {
    background-color: #ffffff;
    margin: auto; 
    text-align: center;
    width: 80%;
    background-color:  #ecf0f1;
    
}

.days {
    text-align: center;
    width: 8%;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    border-bottom-style: solid;
    border-radius: 3px;
    background-color: #66d9ff;
    color: white;
    border-bottom-color: black; 
}

.numbers  {
    text-align: center;
    width: 8%;
    display: inline-block;
    padding: 15px;
    color: #00bfff;
}

.thead  {
    font-family: 'Roboto Slab', serif; font-weight: 700;
}

.tbody  {
    font-family: 'Roboto Slab', serif; font-weight: 700;
}

.days_1_7 {
    text-align: center;
    width: 8%;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    background-color: #ff6666; 
    color: white;
    border-bottom-style: solid;
    border-radius: 3px;
    border-bottom-color: black; 
}

.numbers_red {
    text-align: center;
    width: 8%;
    display: inline-block;
    padding: 15px;
    color: red;
}


.birthday  {
    text-align: center;
    width: 8%;
    display: inline-block;
    padding: 15px;
    color: green;
    background-color: #bdf5bd;
    border-radius: 3px;
}

.birthday_top1 {
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: green;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}